body {
    width: 98vw;
    height: 97vh;
    background-color: black;
    background-image: url('img/bg.jpeg');
    background-size: cover;
}
p {
    color: white; 
}
.wrapper {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 100vw;
    height: 100vh;
    background-color: rgba(24, 26, 21, 0.65);
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
}
.home__title{
    font-family: 'Work Sans', sans-serif;
    font-size: 4em;
}
.home__info, .portfolio__title {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
}
.home__contact {
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
    background-color: rgb(255, 153, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.home__contact:hover {
    cursor: pointer;
    background-color: rgb(211, 128, 3);
}
.wrapper__about {
    margin-top: 20vh;
}
.wrapper__portfolio {
    margin-top: 10vh;
}
.icons {
    display: inline;
    font-size: 2em;
}
.icons:hover {
    color:  rgb(211, 128, 3);
}
a {
    color: inherit; 
    text-decoration: inherit; 
  }
  .loadPortfolio {
    color: white;
    font-size: 4em;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }
  .loadPortfolio:hover {
    cursor: pointer;
    color: rgb(211, 128, 0);
  }
  .loadWelcome {
    color: white;
    font-size: 4em;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    display: none;
  }
  .loadWelcome:hover {
    cursor: pointer;
    color: rgb(211, 128, 0);
  }
  .wrapper__portfolio {
      display: none;
  }
  .img__gallery img {
      width: 200px;
      height: 200px;
      margin: 30px;
  }
  .img__gallery {
      padding-top: 30px;
  }